# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead.

SITE=default
NEXT_PUBLIC_SITE=default
WEBSITE_ORIGIN=
NEXT_PUBLIC_WEBSITE_ORIGIN=